/.metadata/
/Homework_3_Loop/nbproject/private/
/Banking Application/nbproject/private/
/Exam2/nbproject/private/
/Lab_03/nbproject/private/
/Exam1/nbproject/private/
/Homework4/nbproject/private/
/EmailApplication/nbproject/private/
/Homework_05/nbproject/private/
/UserCreatedArray/nbproject/private/
/UserCreatedArray/build/
/Email Application/nbproject/private/
/Email Application/build/

# Log file
*.log

# Compiled class file
*.class

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath




